<div>
<div class="row" style="margin-top: 10px">
  <div class="col-xl-6 text-xs-center" >
    <a [routerLink]="['/dashboard']"> <p class="h5" ><span class="fa fa-arrow-left"><a> Retour vers le tableau de bord</a></span></p></a>

  </div>
</div>
<div style="margin-top: 20px ; margin-left: 15px">
<form [formGroup]="qrForm" (ngSubmit)="generateQR()">
  <div class="form-group">
    <label for="sel1">Select Restaurant:</label>
    <select class="form-control" id="sel1" formControlName="id_restaurant" required>
      <option *ngFor="let restaurant of restaurants; let i = index"  [ngValue]="restaurant.key">{{restaurant.storeName}}</option>
    </select>
  </div>
  <button class="btn btn-success" [disabled]="qrForm.invalid" type="submit">Generate</button>
</form>
</div>
</div>
<!-- Footer -->
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; 2019 <a href="https://www.creative-tim.com/" class="font-weight-bold ml-1" target="_blank"><b style="color: #eee913;">A</b><b style="color: #df1764;">R</b><b style="color: #243d87;">A</b></a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.creative-tim.com/" class="nav-link" target="_blank"><b style="color: #eee913;">A</b><b style="color: #df1764;">R</b><b style="color: #243d87;">A</b></a>
        </li>
        <li class="nav-item">
          <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">Apropos de nous</a>
        </li>


      </ul>
    </div>
  </div>
</footer>
