agm-map {
  height: 300px;
}
.bglight {
  background-color: #E96D25 !important;
  color: #ffffff;
}
.bgdarken {
  background: darken(#2395db, 30%);
  color: #ffffff;
}
.bgglobal {
  background: #ffffff !important;

}
.textsz {
  font-size: 15px ;
}
.fontcl {
  font: #2395db;
}
